body {
    background-color: #9c8d8d;
}


h1 {
    font-size: 100px;
    color: rgb(180, 227, 227);
    background-color: #df48ff;

    padding: 100px;
}

h2 {
    color: wheat;
}

h3 {
    color: whitesmoke;
}